<!doctype html>
<html>
 <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
	<title>白拿</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/goods.css">
 </head>
<body>
	<!--S面包屑导航-->
	<div class="breads_box bg_fff">
		<div class="breads main_body">
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);" class="active">全部商品</a>
		</div>
	</div>
	<!--E面包屑导航-->

	<div class="y_class_box bg_fff">
		<div class="main_body">
			<div class="y_class">
				<label class="y_class_label">全部 :</label>
				<div class="y_class_con">
					<a class="y_classes active" href="#">奢品品区</a>
					<a class="y_classes" href="#">汽车专区</a>
					<a class="y_classes" href="#">手机数码</a>
					<a class="y_classes" href="#">家用电器</a>
					<a class="y_classes" href="#">金银珠宝</a>
					<a class="y_classes" href="#">云购超市</a>
					<a class="y_classes" href="#">服饰百货</a>
					<a class="y_classes" href="#">其他商品</a>
				</div>
			</div>
			<div class="y_class">
				<label class="y_class_label">分类 :</label>
				<div class="y_class_con">
					<a class="y_classes active" href="#">奢品首饰</a>
					<a class="y_classes" href="#">奢品包袋</a>
					<a class="y_classes" href="#">奢品配饰</a>
					<a class="y_classes" href="#">奢品腕表</a>
				</div>
			</div>
			<div class="y_class">
				<label class="y_class_label">排序 :</label>
				<div class="y_class_con">
					<a class="y_classes active" href="#">热卖</a>
					<a class="y_classes" href="#">最新商品</a>
					<a class="y_classes" href="#">价格↓</a>
					<a class="y_classes" href="#">价格↑</a>
				</div>
			</div>
		</div>
	</div>

	<!--S列表-->
	<ul class="main_body goods_list text_center">
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="../../static/img/show/img.jpg" class="goods_list_img mb10">
				<h3 class="f14">苏泊尔锅具套装锅炒锅套装锅具</h3>
				<em class="block c_light_gray">提拉紧致 淡化细纹</em>
				<b class="block c_main">￥1000.00</b>
			</a>
			<a href="javascript:void(0);" class="btn goods_listBtn">立即白拿</a>
		</li>
	</ul>
	<!--E列表-->

	<!--S分页-->
	<div class="pageStr" id="investIndexListPage">
		<span class="f-noClick"><a href="javascript:;"><i class="f-tran f-tran-prev">&lt;</i>上一页</a></span>
		<span class="current"><a>1</a></span>
		<span><a class="tcdNumber" href="javascript:;">2</a></span>
		<span><a class="tcdNumber" href="javascript:;">3</a></span>
		<span><a class="tcdNumber" href="javascript:;">4</a></span>
		<span>...</span>
		<span><a class="tcdNumber" href="javascript:;">36</a></span>
		<span><a class="nextPage" href="javascript:;" title="下一页">下一页<i class="f-tran f-tran-next">&gt;</i></a></span>
		<span>共<em>36</em>页，去第</span>
		<span><input type="text" value="1" id="txtGotoPage" placeholder="">页</span>
		<span><a id="btnGotoPage" href="javascript:;" title="确定">确定</a></span>
	</div>
	<!--E分页-->

	<script src="../../static/plugin/jquery.min.js"></script>
	<script src="../../static/plugin/jquery.SuperSlide.js"></script>
	<script>
	   jQuery(".J_goods_roll").slide({mainCell:".bd ul",autoPage:true,effect:"left",vis:5,easing:"linear",pnLoop:false,trigger:"click",delayTime:800,});//精选动画效果
	   //列表导航
	   $(".J_goods_listNav li").click(function(){
	   	   $(this).addClass("active").siblings().removeClass("active");
	   })
	</script>
</body>
</html>