<!doctype html>
<html>
 <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
	<title>详情页</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/goods.css">
 </head>
<body class="bg_fff">
	<!--S面包屑导航-->
	<div class="breads_box bg_fff">
		<div class="breads main_body">
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);">全部商品</a>
			<a href="javascript:void(0);" class="active">商品详情</a>
		</div>
	</div>
	<!--E面包屑导航-->
	<!--S详情页上-->
	<div class="goods_detail main_body">
		<div class="detail_left pull_left">
			<dl class="detai_big J_detai_big">
	            <dd style="display:block;"><img src="../../static/img/show/detail.png" /></dd>
	            <dd><img src="../../static/img/show/detail1.png" /></dd>
	            <dd><img src="../../static/img/show/detail.png" /></dd>
	            <dd><img src="../../static/img/show/detail1.png" /></dd>
	            <dd><img src="../../static/img/show/detail.png" /></dd>
           </dl>
           <div class="detai_small J_detail_small">
               <i class="iconfont icon-arrow-up c_main J_detail_jt"></i>
               <ul>
	               <li class="active"><img src="../../static/img/show/detail.png" /></li>
	               <li><img src="../../static/img/show/detail1.png" /></li>
	               <li><img src="../../static/img/show/detail.png" /></li>
	               <li><img src="../../static/img/show/detail1.png" /></li>
	               <li class="last"><img src="../../static/img/show/detail.png" /></li>
               </ul>
           </div>
           <!-- 分享 -->
	        <div class="bdsharebuttonbox detail_fx">
	            <span>分享到</span>
				<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>				
				<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
				<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			</div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>			
            <!-- 分享 -->
		</div>
		<div class="detail_right pull_right pl20">
			<h3 class="detail_title f20">Apple iPhone 6s 16G 金色 4G手机 (全网通版) </h3>
			<h5 class="mt10 f14 light_gray">Apple产品火热促销中选择下方【移动赠费版】，移动用户无需换号码，购机最高送3528元话费！</h5>
			<span class="detail_cost block light_gray">参考价格：<em>¥4798.00</em></span>
			<div class="detail_group mb20">
				<span class="inline_block">颜色：</span>
				<ul class="detail_color inline_block J_detail_color">
					<li class="active">
						<img src="../../static/img/show/phone1.jpg">
						<em>金</em>
						<i class="iconfont icon-corner-mark"></i>
					</li>
					<li>
						<img src="../../static/img/show/phone1.jpg">
						<em>银</em>
						<i class="iconfont icon-corner-mark"></i>
					</li>
					<li>
						<img src="../../static/img/show/phone1.jpg">
						<em>灰</em>
						<i class="iconfont icon-corner-mark"></i>
					</li>
					<li>
					   <img src="../../static/img/show/phone1.jpg">
					   <em>玫瑰金</em>
					   <i class="iconfont icon-corner-mark"></i>
					</li>
				</ul>
			</div>

			<div class="detail_group mb20 ">
				<span class="inline_block">版本：</span>
				<ul class="detail_edition inline_block J_detail_edition">
					<li class="active">全网通128G版</li>
					<li>全网通64G版</li>
					<li>全网通16G版</li>
				</ul>
			</div>

			<div class="detail_group mb30 detail_border">
				<span class="inline_block">数量：</span>
				<div class="choose_amount inline_block">
					<input type="text" class="buy_num" value="1" placeholder="">
					<a class="reduce_btn">-</a>
					<a class="add_btn">+</a>
				</div>
			</div>

			<div class="detail_group mb20">
				<span class="inline_block">白拿方式：</span>
				<ul class="detail_edition inline_block J_detail_edition">
					<li class="active">存放<em>6个月</em></li>
					<li>存放<em>12个月</em></li>
				</ul>
			</div>

			<div class="detail_group mb20">
				<span class="inline_block middle">投资金额：</span>
				<b class="detail_money middle">¥15000.00</b>
				<span class="inline_block middle ml20">收益说明：</span>
				<b class="middle">白拿该商品+6个月后拿回15000（本金）</b>
			</div>
			<div class="detail_group detail_group_btn">
				<a href="javascript:void(0);" class="btn f20 detail_btn">立即白拿</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!--E详情页上-->
	<!--S详情页下-->
	<div class="goods_detail goods_tab main_body">
		 <ul class="goods_select J_goods_select">
		 	<li class="active">如何白拿</li>
		 	<li>商品详情</li>
		 </ul>
		 <div class="detail_con J_detail_con" style="display:block;">
		 	 <img src="../../static/img/show/details1.jpg">
		 	 <img src="../../static/img/show/details2.jpg">
		 	 <img src="../../static/img/show/details3.jpg">
		 	 <img src="../../static/img/show/details4.jpg">
		 	 <img src="../../static/img/show/details5.jpg">
		 	 <img src="../../static/img/show/details6.jpg">
		 	 <img src="../../static/img/show/details7.jpg">
		 </div>
		 <div class="detail_con J_detail_con">
		 	 <img src="../../static/img/show/details1.jpg">
		 	 <img src="../../static/img/show/details2.jpg">
		 	 <img src="../../static/img/show/details3.jpg">
		 	 <img src="../../static/img/show/details4.jpg">
		 	 <img src="../../static/img/show/details5.jpg">
		 	 <img src="../../static/img/show/details6.jpg">
		 	 <img src="../../static/img/show/details7.jpg">
		 </div>
	</div>
	<!--E详情页下-->
	<script src="../../static/plugin/jquery.min.js"></script>
	<script>
	    $(function(){
	    	//左侧大图小图展示
	   	    $(".J_detail_small li").hover(function(){
			    var index=$(this).index(".J_detail_small li");
			    $(this).addClass("active").siblings().removeClass("active");
			    $(".J_detai_big dd").eq(index).show().siblings().hide();
			    $(".J_detail_jt").css({left:($(".J_detail_small li").outerWidth()+12)*index+32});
			});
	   	    
	   	    //右侧颜色选择
	   	    $(".J_detail_color li").click(function(){
	   	    	$(this).addClass("active").siblings().removeClass("active");
	   	    });
	   	    
	   	    //版本选择
	   	    $(".J_detail_edition li").click(function(){
	   	    	$(this).addClass("active").siblings().removeClass("active");
	   	    });
	   	    
	   	    //选项卡
	   	    $(".J_goods_select li").click(function(){
	   	    	var index=$(this).index(".J_goods_select li");
	   	    	$(this).addClass("active").siblings().removeClass("active");
	   	    	$(".J_detail_con").eq(index).show().siblings(".J_detail_con").hide();
	   	    })
	    })
	</script>
</body>
</html>