<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="renderer" content="webkit">
		<title>绑定银行卡-白拿</title>
		<link rel="stylesheet" href="../../static/css/f_order.css" />
		<link rel="stylesheet" href="../../static/css/fonts.css" />
	</head>

	<body>
		<div class="f_rightcom">
			<ul class="f_bankcard">
				<li>
					<img src="../../static/img/show/images/f_bank_img.png">
					<p class="f_bankcard_num">***************1234</p>
					<a href="javascript:void(0);" class="f_bankcard_change">修改</a>
				</li>

			</ul>
			<div class="f_bank_tip">
				<h4 class="f_bank_tiptit"><i class="iconfont icon-tips"></i>温馨提示</h4>
				<div class="f_bank_conbox">
					<p>特别提醒：</p>
					<p class="c_orange">请勿使用他人身份证进行实名认证（汇潮绑定）并且充值，否则将导致无法提现。</p>
					<p>用户须知：</p>
					<p>1.平台只支持绑定1张银行卡（不支持绑定信用卡），用户今后在快捷充值与提现时，可以使用这3张银行卡。</p>
					<p>2.请用户尽量填写较大的银行(如农行、工行、建行、中国银行等)，避免填写那些比较少见的银行（如农村信用社、平安银行、恒丰银行等）。 否则提现资金很容易会被退票。</p>
					<p>3.如果选择其它银行，请在选择其它银行后填写该银行的名称。</p>
					<p>4. 请您填写完整联系方式，以便遇到问题时，工作人员可以及时联系到您。</p>
				</div>
			</div>
		</div>
	</body>

</html>