<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="renderer" content="webkit">
		<title>我的账户-白拿</title>
		<link rel="stylesheet" href="../../static/css/f_order.css" />
		<link rel="stylesheet" href="../../static/css/fonts.css" />
	</head>

	<body>
		<!--s 我的账户右侧-->
		<div class="f_myrightcom">
			<div class="f_mycount_charge">
				<ul class="f_mycount_use">
					<li>可用余额（银元）<span class="price">111388.00</span></li>
					<li>白拿待返还(银元)<span class="price">6699.00</span></li>
				</ul>
				<a class="btn_mycount_charge" href="javascript:void(0);">充值</a>
				<div class="clear"></div>
			</div>
			<!--s 轮播图-->
			<div class="f_mycount_lb">
				<div class="hd">
					<ul>
						<li>1</li>
						<li>2</li>
						<li>3</li>
						<li>4</li>
					</ul>
				</div>
				<div class="bd">
					<ul>
						<li>
							<a href="javascript:void(0);" target="_blank"><img src="../../static/img/show/f_lb_bg.png" /></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank"><img src="../../static/img/show/f_lb_bg.png" /></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank"><img src="../../static/img/show/f_lb_bg.png" /></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank"><img src="../../static/img/show/f_lb_bg.png" /></a>
						</li>
					</ul>
				</div>
			</div>
			<!--内容-->
			<div class="f_myaccount_con" >
						<!-- 积分类型 -->
						<div class="f_cloud_goods">
							<p>冻结金额：<span>1000.00</span>已解冻金额：<span> 500</span>提前赎回金额：<span>200</span></p>
							<a class="f_score_exchange" href="javascript:void(0);">兑换</a>
						</div>
						<!-- 积分来源按时间筛选 -->
		
						<div class="f_choose ">
							<ul class="f_choose_day">
								<li class="active">全部</li>
								<li>今天</li>
								<li>本周</li>
								<li>本月</li>
								<li>最近三个月</li>
							</ul>
							<dl class="f_choose_cal">
								<dd>选择时间段：</dd>
								<dd><input type="text"></dd>
								<dd>&nbsp;-&nbsp;</dd>
								<dd><input type="text"></dd>
								<dd class="f_choose_search ">搜索</dd>
							</dl>
						</div>
						<table>
							<tr class="f_list_classfix">
								<th style="width: 120px;">商品图片</th>
								<th style="width: 260px;">商品名称</th>
								<th class="shop_state" style="width: 120px;">全部状态
									<i class="iconfont icon-down"></i>
									<ul class="f_state_all">
										<li>冻结中</li>
										<li>已解冻</li>
										<li>提前赎回</li>
									</ul>
								</th>
								<th style="width: 120px;">返还金额</th>
								<th style="width: 120px;">预计返还时间</th>
								<th style="width: 120px;">实际返还时间</th>
							</tr>
							<tr>
								<td>
									<img class="shop_img" src="../../static/img/show/iphone_03.png" />
								</td>
								<td class="shop_detail">
									<p>
										<a href="javascript:void(0);">Apple iPad Air 2 平板电脑（64G金色 WiFi版）</a>
									</p>
									<p>价格：￥3300</p>
									<p>购买时间：2016-8-15 13:13:13</p>
									<p>投入本金：￥90,200.00</p>
									<p>投入期限：6个月</p>
								</td>
								<td class="shop_state">
									<p>冻结中</p>
								</td>
								<td class="shop_state">
									<p>--</p>
								</td>
								<td class="shop_goodstime">
									<p>13:13:13<br/>2016-8-15 </p>
								</td>
								<td class="shop_state">
									<p>--</p>
								</td>
							</tr>
							<tr>
								<td>
									<img class="shop_img" src="../../static/img/show/iphone_03.png" />
								</td>
								<td class="shop_detail">
									<p>
										<a href="javascript:void(0);">Apple iPad Air 2 平板电脑（64G金色 WiFi版）</a>
									</p>
									<p>价格：￥3300</p>
									<p>购买时间：2016-8-15 13:13:13</p>
									<p>投入本金：￥90,200.00</p>
									<p>投入期限：6个月</p>
								</td>
								<td class="shop_state">
									<p>已冻结</p>
								</td>
								<td class="shop_state">
									<p>--</p>
								</td>
								<td class="shop_goodstime">
									<p>13:13:13<br/>2016-8-15 </p>
								</td>
								<td class="shop_state">
									<p>--</p>
								</td>
							</tr>
							<tr>
								<td>
									<img class="shop_img" src="../../static/img/show/iphone_03.png" />
								</td>
								<td class="shop_detail">
									<p>
										<a href="javascript:void(0);">Apple iPad Air 2 平板电脑（64G金色 WiFi版）</a>
									</p>
									<p>价格：￥3300</p>
									<p>购买时间：2016-8-15 13:13:13</p>
									<p>投入本金：￥90,200.00</p>
									<p>投入期限：6个月</p>
								</td>
								<td class="shop_state">
									<p>提前赎回</p>
								</td>
								<td class="shop_state">
									<p>--</p>
								</td>
								<td class="shop_goodstime">
									<p>13:13:13<br/>2016-8-15 </p>
								</td>
								<td class="shop_state">
									<p>--</p>
								</td>
							</tr>
						</table>
						
					</div>

		</div>
		<!--e 结束-->
		<script type="text/javascript" src="../../static/plugin/jquery.min.js"></script>
		<script type="text/javascript" src="../../static/plugin/jquery.SuperSlide.js" ></script>
		<script type="text/javascript">
			/*轮播图操作*/
			jQuery(".f_mycount_lb").slide({
				mainCell: ".bd ul",
				autoPlay: true
			});
			/*今天或者本周。。。选项卡*/
			$(function(){
				$('.f_choose_day li').click(function() {
					$(this).addClass('active').siblings().removeClass('active');
				});
				
				$('.f_classfix_status').click(function(){
					if($('.f_classfix_all').css("display")=="none"){
						$(this).addClass('f_classfix_this');
						$('.f_classfix_all').css({display:"block"});
					}
					else{
						$(this).removeClass('f_classfix_this');
						$('.f_classfix_all').css({display:"none"});
					}
				});				
			});
			
		</script>
	</body>

</html>