<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="renderer" content="webkit">
		<title>订单-白拿</title>
		<link rel="stylesheet" href="../../static/css/f_order.css" />
		<link rel="stylesheet" href="../../static/css/fonts.css" />
	</head>

	<body>
		<!--s 配送信息-->
		<div class="main_body">
			<!--配送信息标题-->
			<h3 class="f_o_titcom">配送信息</h3>
			<!--配送信息内容-->
			<div class="f_o_sendmenu">
				<div class="f_o_sendtop">
					<ul class="J_o_send">
						<li class="active">领取商品</li>
						<li>转支付宝</li>
						<li>转银行卡</li>
					</ul>
					<p class="f_o_sendtip"><i class="iconfont icon-sound"></i>温馨提示：您所中加油卡或电话卡还可选择直接等价转入个人银行卡或支付宝。</p>
					<div class="clear"></div>
				</div>
				<div class="f_o_sendtab">
					<!--s领取商品内容-->
					<div class="f_address">
						<div class="f_address_detail active">
							<p class="f_p_bg"></p>
							<div class="f_address_operation">
								<div class="f_address_default">
									<i class="iconfont icon-home c_gray"></i>默认银行卡
								</div>
								<div class="pull_right">
									<a href="javascript:void(0);" title="编辑" class="f_set_edit"><i class="iconfont icon-pen"></i></a>
								</div>
							</div>
							<div class="f_user_address">
								<p class="f_user_message">收货人：张三</p>
								<p>手机号：15266668888</p>
								<p>收货地址：山西省 太原市 小店区</p>
								<p>体育路晋阳街口金拇指广场13层</p>
							</div>
							<span class="address_sure"></span>
						</div>
						<div class="f_address_detail">
							<p class="f_p_bg "></p>
							<div class="f_address_operation text_right">
								<a href="javascript:void(0);" title="设为默认地址"><i class="iconfont icon-home"></i></a>
								<a href="javascript:void(0);" title="编辑"><i class="iconfont icon-pen"></i></a>
								<a href="javascript:void(0);" title="删除"><i class="iconfont icon-delete"></i></a>
							</div>
							<div class="f_user_address">
								<p class="f_user_message">收货人：张三</p>
								<p>手机号：15266668888</p>
								<p>收货地址：山西省 太原市 小店区</p>
								<p>体育路晋阳街口金拇指广场13层</p>
							</div>
							<span class="address_sure"></span>
						</div>

						<div class="f_add_address">
							<a href="javascript:void(0);" class="f_add_address_btn"><i class="iconfont icon-add"></i>增加新地址</a>
						</div>
						<div class="clear"></div>
					</div>
					<!--e 结束-->
					<!--s 添加支付宝内容-->
					<div class="f_address">
						<div class="f_address_detail active">
							<p class="f_p_bg"></p>
							<div class="f_address_operation">
								<div class="f_address_default">
									<i class="iconfont icon-home c_gray"></i>默认银行卡
								</div>
								<div class="pull_right">
									<a href="javascript:void(0);" title="编辑" class="f_set_edit"><i class="iconfont icon-pen"></i></a>
								</div>
							</div>
							<div class="f_user_address">
								<p class="f_user_message">收货人：张三</p>
								<p>手机号：15266668888</p>
								<p>真实姓名：张三</p>
								<p>支付宝账号：1023456789@qq.com</p>
							</div>
							<span class="address_sure"></span>
						</div>

						<div class="f_address_detail ">
							<p class="f_p_bg "></p>
							<div class="f_address_operation text_right">
								<a href="javascript:void(0);" title="设为默认地址"><i class="iconfont icon-home"></i></a>
								<a href="javascript:void(0);" title="编辑"><i class="iconfont icon-pen"></i></a>
								<a href="javascript:void(0);" title="删除"><i class="iconfont icon-delete"></i></a>
							</div>
							<div class="f_user_address">
								<p class="f_user_message">收货人：张三</p>
								<p>手机号：15266668888</p>
								<p>真实姓名：张三</p>
								<p>支付宝账号：1023456789@qq.com</p>
							</div>
							<span class="address_sure"></span>
						</div>

						<div class="f_add_address">
							<a href="javascript:void(0);" class="f_add_address_btn"><i class="iconfont icon-add"></i>增加新地址</a>
						</div>
						<div class="clear"></div>
					</div>
					<!--e 结束-->
					<!--s 添加银行卡内容-->
					<div class="f_address">
						<div class="f_address_detail active">
							<p class="f_p_bg"></p>
							<div class="f_address_operation">
								<div class="f_address_default">
									<i class="iconfont icon-home c_gray"></i>默认银行卡
								</div>
								<div class="pull_right">
									<a href="javascript:void(0);" title="编辑" class="f_set_edit"><i class="iconfont icon-pen"></i></a>
								</div>
							</div>
							<div class="f_user_address">
								<p class="f_user_message">持卡人：张三</p>
								<p>开户行：兴业银行</p>
								<p>卡号：622188*******0101</p>
							</div>
							<span class="address_sure"></span>
						</div>

						<div class="f_address_detail ">
							<p class="f_p_bg "></p>
							<div class="f_address_operation text_right">
								<a href="javascript:void(0);" title="设为默认地址"><i class="iconfont icon-home"></i></a>
								<a href="javascript:void(0);" title="编辑"><i class="iconfont icon-pen"></i></a>
								<a href="javascript:void(0);" title="删除"><i class="iconfont icon-delete"></i></a>
							</div>
							<div class="f_user_address">
								<p class="f_user_message">持卡人：张三</p>
								<p>开户行：兴业银行</p>
								<p>卡号：622188*******0101</p>
							</div>
							<span class="address_sure"></span>
						</div>

						<div class="f_add_address">
							<a href="javascript:void(0);" class="f_add_address_btn"><i class="iconfont icon-add"></i>增加新地址</a>
						</div>
						<div class="clear"></div>
					</div>
					<!--e 结束-->
				</div>
			</div>
		</div>
		<!--e 结束-->
		<!--s 商品信息-->
		<div class="main_body">
			<h3 class="f_o_titcom">商品信息</h3>
			<div class="f_catbox">
				<table>
						<tr>
							<th class="f_goods_text">商品名称</th>
							<th style="width: 310px;"></th>
							<th>购买数量</th>
							<th>锁定期限</th>
							<th>所需投资金额</th>
							<th>到期返还金额</th>
						</tr>
						<tr>
							<td class="f_goodsimg">
								<a href="">
									<img src="../../static/img/show/iphone_03.png" alt="" />
								</a>
							</td>
							<td class="f_goodscon">
								<a href=""><p>Apple iPad Air 2 平板电脑（64G金色 WiFi版）<p></a>
								<p>已选 : 玫瑰金；128G；联通4G</p>
							</td>
							<td class="count">
								<div class="countbox">
									<span class="reduce">-</span>
									<input class="count-input" type="text" value="1" />
									<span class="add">+</span>
								</div>
							</td>
							<td class="num">6个月</td>
							<td class="num">￥90000.00</td>
							<td class="num">￥90000.00</td>
						</tr>
				</table>
				<div class="f_total_box">
					<p class="f_pricetotal">应付款总额：<span class="c_red f20">￥90200.00</span></p>
					<a class="f_account_btn" href="javascript:;">存钱白拿</a>
					<p class="f_pay_protocal"><input type="checkbox"  checked/><b>我已阅读并同意</b><span class="c_red">《白拿用户协议》</span></p>
				</div>
			</div>
		</div>
		<!--e 结束-->

		<script type="text/javascript" src="../../static/plugin/jquery.min.js"></script>
		<script type="text/javascript">
			$(function() {
				/*领取商品，转支付宝，转银行卡的选项卡切换*/
				$('.J_o_send li').click(function() {
					$(this).addClass('active').siblings().removeClass('active');
					var index = $(this).index();
					$('.f_o_sendtab > div').eq(index).show().siblings().hide();
				});
				/*地址点击：选定当前地址*/
				$('.f_address_detail').click(function() {
					$(this).addClass('active').siblings().removeClass('active');
				});
			});
		</script>
	</body>

</html>