<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="renderer" content="webkit">
		<title>资金记录-白拿</title>
		<link rel="stylesheet" href="../../static/css/f_order.css" />
		<link rel="stylesheet" href="../static/css/fonts.css" />
	</head>

	<body>
		<!--S 资金记录-->
		<div class="f_rightcom">
			<div class="f_choose ">
				<ul class="f_choose_day">
					<li class="active">全部</li>
					<li>今天</li>
					<li>本周</li>
					<li>本月</li>
					<li>最近三个月</li>
				</ul>
				<dl class="f_choose_cal">
					<dd>选择时间段：</dd>
					<dd><input type="text"></dd>
					<dd>&nbsp;-&nbsp;</dd>
					<dd><input type="text"></dd>
					<dd class="f_choose_search ">搜索</dd>
				</dl>
			</div>
			<div class="f_choose">
				<ul class="f_choose_day">
					<li class="active">全部</li>
					<li>充值成功</li>
					<li>晋商贷4.0转入</li>
					<li>白拿</li>
					<li>白拿提前赎回</li>
					<li>白拿到期返还</li>
					<li>提现成功</li>
				</ul>
			</div>
			<div class="f_myrecharge_table">
				<table>
								<tr class="f_part_title">
									<th style="width: 260px;">时间</th>
									<th style="width: 170px;">类型</th>
									<th style="width: 170px;">收入(银元)</th>
									<th style="width: 170px;">支出(银元)</th>
									<th style="width: 170px;">可用余额(银元)</th>
									<th style="width: 120px;">备注</th>
								</tr>
								<tr>
						<td>2016-09-15 15:02:10</td>
						<td>充值成功</td>
						<td>10000.00</td>
						<td>5000.00</td>
						<td>30000.00</td>
						<td><span>--</span></td>
					</tr>
					<tr>
						<td>2016-09-15 15:02:10</td>
						<td>晋商贷4.0转入</td>
						<td>10000.00</td>
						<td>5000.00</td>
						<td>30000.00</td>
						<td><span>--</span></td>
					</tr>
					<tr>
						<td>2016-09-15 15:02:10</td>
						<td>白拿</td>
						<td>10000.00</td>
						<td>5000.00</td>
						<td>30000.00</td>
						<td><span>--</span></td>
					</tr>
					<tr>
						<td>2016-09-15 15:02:10</td>
						<td>白拿提前赎回</td>
						<td>10000.00</td>
						<td>5000.00</td>
						<td>30000.00</td>
						<td><span>--</span></td>
					</tr>
					<tr>
						<td>2016-09-15 15:02:10</td>
						<td>白拿到期返还</td>
						<td>10000.00</td>
						<td>5000.00</td>
						<td>30000.00</td>
						<td><span>--</span></td>
					</tr>
							</table>
			</div>
		</div>
		<!--E 资金记录-->
	</body>

</html>