<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="renderer" content="webkit">
		<title>安全中心-白拿</title>
		<link rel="stylesheet" href="../../static/css/f_order.css" />
		<link rel="stylesheet" href="../../static/css/fonts.css" />
	</head>

	<body>

		<!-- S 右侧 -->
		<div class="f_myaddress_box f_save_box">
			<!--S 安全等级 -->
			<div class="f_cloud_goods  f_choose2 f_savestand">
				<span>保护账户安全 您的安全等级：</span>
				<div class="f_save_standbot">
					<div class="f_save_standtop"></div>
				</div>
				<span>高</span>
			</div>
			<!--E 安全等级 -->
			<!--S 安全内容 -->
			<div class="f_save_detail">

				<!--S 身份验证 -->
				<ul class="c_set_save_box">
					<li class="c_save_password">身份验证：</li>
					<li class="c_save_tips">完成身份认证才能投标，实名认证后身份不允许修改、更换和注销</li>
					<li class="c_save_state"><i class="iconfont icon-close"></i>未认证</li>
					<li class="c_save_num">--</li>
					<li class="c_save_rechange">
						<a href="javascript:void(0);">认证</a>
					</li>
					<!-- S 已认证 -->
					<!-- <li class="c_save_tips">许**（140***********708X）身份不允许修改，更换或者注销</li> 
                        <li class="c_save_state c_save_state_other">已设置</li>
                        <li class="c_save_num">--</li>
                        <li class="c_save_rechange"></li>-->
					<!-- E 已认证 -->
					<div class="c_clear"></div>
				</ul>
				<!--E 身份验证 -->
				<ul class="c_set_save_box">
					<li class="c_save_password">登录密码：</li>
					<li class="c_save_tips">保障账户安全，建议您定期更换密码。</li>
					<li class="c_save_state c_save_state_other"><i class="iconfont icon-sure"></i>已设置</li>
					<li class="c_save_num">--</li>
					<li class="c_save_rechange">
						<a href="javascript:void(0);">修改</a>
					</li>
					<div class="c_clear"></div>
					<!--S 修改密码 -->
					<div class="c_rechange_password c_appear">
						<div class="c_rechange_doing">
							<label>当前密码：</label><input type="text">
						</div>
						<div class="c_rechange_doing">
							<label>设置新密码：</label><input type="text">
						</div>
						<div class="c_rechange_doing">
							<label>确认新密码：</label><input type="text">
						</div>
						<div class="c_rechange_doing">
							<a href="javascript:void(0);" class="c_rechange_ture c_success_rechange" style="margin-left:148px;">修改密码</a>
						</div>
					</div>
					<!-- 修改成功 -->
					<div class="c_rechange_password c_success">
						<div class="c_rechange_doing">
							<span class="c_new_success"><i class="iconfont icon-sure"></i>密码修改成功</span>
							<a href="javascript:void(0);" class="c_rechange_a c_success_btn">确定</a>
						</div>
					</div>
					<!--E 修改密码 -->
				</ul>
				<ul class="c_set_save_box">
					<li class="c_save_password">手机号码：</li>
					<li class="c_save_tips">保障账户与资金安全，是您在晋商贷重要的身份凭证。</li>
					<li class="c_save_state"><i class="iconfont icon-close"></i>未认证</li>
					<li class="c_save_num">139*****954</li>
					<li class="c_save_rechange">
						<a href="javascript:void(0);">认证</a>
					</li>
					<div class="c_clear"></div>
					<!--S修改手机号 -->
					<!--S 手机修改 -->
					<!-- 第一步 -->
					<div class="c_rechange_password c_appear c_phone_newway_one">
						<div class="c_phone_way">
							<div class="c_steps">
								<dl class="c_active">
									<dd class="c_sz"><span>1</span></dd>
									<dd class="c_sm">1.验证原手机号码</dd>
								</dl>
								<dl>
									<dd class="c_sz"><span>2</span></dd>
									<dd class="c_sm">2.输入新手机号码</dd>
								</dl>
								<dl>
									<dd class="c_sz"><span>3</span></dd>
									<dd class="c_sm">3.完成</dd>
								</dl>
							</div>
							<div class="c_phone_verify">
								<div>
									<label>图形验证码：</label><input type="text"><span><img class="phone_yz" src="../../static/img/show/images/yz_img_03.png"/></span>
								</div>
								<div>
									<label>手机号：</label><em>139******58</em>
								</div>
								<div>
									<label>验证码：</label><input type="text"><i class="c_get_verify c_get_verify_other">短信获取验证码</i>
								</div>
								<a href="javascript:void(0);" class="c_add_next c_add_rechange">下一步</a>
							</div>
						</div>
					</div>
					<!-- 第二步 -->
					<div class="c_rechange_password c_phone_newway_two">
						<div class="c_phone_way">
							<div class="c_steps">
								<dl class="c_active">
									<dd class="c_sz"><span>1</span></dd>
									<dd class="c_sm c_new_sm">1.验证原手机号码</dd>
								</dl>
								<dl class="c_active">
									<dd class="c_sz"><span>2</span></dd>
									<dd class="c_sm">2.输入新手机号码</dd>
								</dl>
								<dl>
									<dd class="c_sz"><span>3</span></dd>
									<dd class="c_sm">3.完成</dd>
								</dl>
							</div>
							<div class="c_phone_verify">
								<div>
									<label>图形验证码：</label><input type="text"><span><img class="phone_yz" src="../../static/img/show/images/yz_img_03.png"/></span>
								</div>
								<div>
									<label>输入新手机号：</label><input type="text" style="width:205px;">
								</div>
								<div>
									<label>验证码：</label><input type="text"><i class="c_get_verify c_get_verify_other">短信获取验证码</i>
								</div>
								<a href="javascript:void(0);" class="c_next_steps">下一步</a>
							</div>
						</div>
					</div>
					<!-- 重置失败 -->
					<div class="c_rechange_password c_phone_newway_success">
						<div class="c_rechange_doing">
							<span class="c_new_bgimg"><i class="iconfont icon-fail"></i>手机号修改失败</span>
							<a href="javascript:void(0);" class="c_rechange_a c_success_btn">确定</a>
						</div>
					</div>
					<!--E 手机修改 -->
					<!--E 修改手机号 -->
				</ul>
				<ul class="c_set_save_box">
					<li class="c_save_password">电子邮箱：</li>
					<li class="c_save_tips">邮件接收账户通知，及时了解账户信息变动情况。</li>
					<li class="c_save_state c_save_state_other"><i class="iconfont icon-sure"></i>未绑定</li>
					<li class="c_save_num">--</li>
					<li class="c_save_rechange">
						<a href="javascript:void(0);">修改</a>
					</li>
					<div class="c_clear"></div>
					<!--S 绑定邮箱 -->
					<!-- 第一步 -->
					<div class="c_rechange_password c_appear c_email_newway_one">
						<div class="c_phone_way">
							<div class="c_steps">
								<dl class="c_active">
									<dd class="c_sz"><span>1</span></dd>
									<dd class="c_sm">1.验证身份</dd>
								</dl>
								<dl>
									<dd class="c_sz"><span>2</span></dd>
									<dd class="c_sm">2.绑定邮箱</dd>
								</dl>
								<dl>
									<dd class="c_sz"><span>3</span></dd>
									<dd class="c_sm">3.完成</dd>
								</dl>
							</div>
							<div class="c_phone_verify">
								<div>
									<label>电子邮箱：</label><em>1******@qq.com</em>
								</div>
								<div>
									<label>验证码：</label><input type="text"><i class="c_get_verify c_get_verify_other">短信获取验证码</i>
								</div>
								<a href="javascript:void(0);" class="c_emails_next_step1 c_rechange_text">下一步</a>
							</div>
						</div>
					</div>
					<!-- 第二步 -->
					<div class="c_rechange_password c_email_newway_two">
						<div class="c_phone_way">
							<div class="c_steps">
								<dl class="c_active">
									<dd class="c_sz"><span>1</span></dd>
									<dd class="c_sm">1.验证身份</dd>
								</dl>
								<dl class="c_active">
									<dd class="c_sz"><span>2</span></dd>
									<dd class="c_sm">2.绑定邮箱</dd>
								</dl>
								<dl>
									<dd class="c_sz"><span>3</span></dd>
									<dd class="c_sm">3.完成</dd>
								</dl>
							</div>
							<div class="c_phone_verify">
								<div>
									<label>电子邮箱：</label><input type="text" style="width:205px;">
								</div>
								<div>
									<label>验证码：</label><input type="text"><i class="c_get_verify c_get_verify_other">短信获取验证码</i>
								</div>
								<a href="javascript:void(0);" class="c_emails_next_step2">下一步</a>
							</div>
						</div>
					</div>
					<!-- 邮箱认证成功 -->
					<div class="c_rechange_password c_email_newway_success">
						<div class="c_rechange_doing">
							<span class="c_new_success"><i class="iconfont icon-sure"></i>邮箱认证成功</span>
							<a href="javascript:void(0);" class="c_rechange_a c_success_btn">确定</a>
						</div>
					</div>
					<!--E 绑定邮箱 -->
					<!--S 修改邮箱 -->
					<!-- 第一步 -->
					<!-- <div class="c_rechange_password c_appear c_email_newway_one">
                            <div class="c_phone_way">
                                <div class="c_steps">
                                    <dl class="c_active">
                                        <dd class="c_sz"><span>1</span></dd>
                                        <dd class="c_sm">1.验证原电子邮箱</dd>
                                    </dl>
                                    <dl>
                                        <dd class="c_sz"><span>2</span></dd>
                                        <dd class="c_sm">2.输入新电子邮箱</dd>
                                    </dl>
                                    <dl>
                                        <dd class="c_sz"><span>3</span></dd>
                                        <dd class="c_sm">3.完成</dd>
                                    </dl>
                                </div>
                                <div class="c_phone_verify">
                                    <div>
                                        <label>电子邮箱：</label><em>1******@qq.com</em>
                                    </div>
                                    <div>
                                        <label>验证码：</label><input type="text"><i class="c_get_verify c_get_verify_other">短信获取验证码</i>
                                    </div>
                                    <a href="javascript:void(0);" class="c_emails_next_step1">下一步</a>
                                </div>
                            </div>
                        </div> -->
					<!-- 第二步 -->
					<!--  <div class="c_rechange_password c_email_newway_two">
                            <div class="c_phone_way">
                                <div class="c_steps">
                                    <dl class="c_active">
                                        <dd class="c_sz"><span>1</span></dd>
                                        <dd class="c_sm">1.验证原电子邮箱</dd>
                                    </dl>
                                    <dl class="c_active">
                                        <dd class="c_sz"><span>2</span></dd>
                                        <dd class="c_sm">2.输入新电子邮箱</dd>
                                    </dl>
                                    <dl>
                                        <dd class="c_sz"><span>3</span></dd>
                                        <dd class="c_sm">3.完成</dd>
                                    </dl>
                                </div>
                                <div class="c_phone_verify">
                                    <div>
                                        <label>电子邮箱：</label><input type="text" style="width:205px;">
                                    </div>
                                    <div>
                                        <label>验证码：</label><input type="text"><i class="c_get_verify c_get_verify_other" >短信获取验证码</i>
                                    </div>
                                    <a href="javascript:void(0);" class="c_emails_next_step2">下一步</a>
                                </div>
                            </div>
                        </div> -->
					<!-- 邮箱修改成功 -->
					<!-- <div class="c_rechange_password c_email_newway_success">
                            <div class="c_rechange_doing">
                                <span>邮箱修改成功</span>
                                <a href="javascript:void(0);" class="c_rechange_a c_success_btn">确定</a>
                            </div>
                        </div> -->
					<!--E 修改邮箱 -->
				</ul>
				<!--S 视频验证 -->
				<ul class="c_set_save_box">
					<li class="c_save_password">视频认证：</li>
					<li class="c_save_tips">首次提现必须完成视频认证，建议您提前申请认证，避免影响提现。</li>
					<li class="c_save_state"><i class="iconfont icon-close"></i>未认证</li>
					<li class="c_save_num">--</li>
					<li class="c_save_rechange">
						<a href="javascript:void(0);">绑定</a>
					</li>
					<!-- S 待审核 -->
					<!--  <li class="c_save_tips">首次提现必须完成视频认证，建议您提前申请认证，避免影响提现。</li> 
                       <li class="c_save_state c_yellow_state">待审核</li>
                       <li class="c_save_num">--</li>
                       <li class="c_save_gray"><a href="javascript:void(0);" class="c_gray">认证</a></li> -->
					<!-- E 待审核 -->
					<!-- S 已认证 -->
					<!-- <li class="c_save_tips">首次提现必须完成视频认证，建议您提前申请认证，避免影响提现。</li> 
                        <li class="c_save_state c_save_state_other">已认证</li>
                        <li class="c_save_num">--</li>
                        <li class="c_save_gray"><a href="javascript:void(0);">认证</a></li>-->
					<!-- E 已认证 -->
					<div class="c_clear"></div>
					<div class="c_rechange_password c_appear">
						<p class="c_wait_service">如果您需要视频认证，请点击申请，等待客服联系。</p>
						<i class="c_apply_for c_success_rechange">申请</i>
						<p class="c_warm_tips">* 温馨提示：我们将对所有的信息进行保密</p>
					</div>
					<div class="c_rechange_password c_success">
						<div class="c_rechange_doing">
							<span class="c_new_success"><i class="iconfont icon-sure"></i>申请成功</span>
							<a href="javascript:void(0);" class="c_rechange_a c_success_btn">确定</a>
						</div>
					</div>
				</ul>

				<!--E 视频验证 -->
				<!-- S 银行卡 -->
				<ul class="c_set_save_box w_set_save_box">
					<li class="c_save_password">银行卡：</li>
					<li class="c_save_tips">请先绑定银行卡</li>
					<li class="c_save_state"><i class="iconfont icon-close"></i>未绑定</li>
					<li class="c_save_num">--</li>
					<li class="c_save_rechange">
						<a href="javascript:void(0);">绑定</a>
					</li>
					<!-- S 已认证 -->
					<!-- <li class="c_save_tips">已经绑定<i>1</i>张银行卡，还可以绑定2张</li>
                        <li class="c_save_tips">已经绑定<i>3</i>张银行卡，银行卡数量已达到上线</li>
                        <li class="c_save_state c_save_state_other">已设置</li>
                        <li class="c_save_num">--</li>
                        <li class="c_save_rechange"><a href="javascript:void(0);">已绑定</a></li>-->
					<!-- E 已认证 -->
					<div class="c_clear"></div>
				</ul>
				<!-- E 银行卡 -->
				<ul class="c_set_save_box">
					<li class="c_save_password">微信绑定：</li>
					<li class="c_save_tips">绑定微信，免输密码快捷扫码登录和使用微信客户端。</li>
					<li class="c_save_state"><i class="iconfont icon-close"></i>未绑定</li>
					<li class="c_save_num">--</li>
					<li class="c_save_rechange">
						<a href="javascript:void(0);">绑定</a>
					</li>
					<div class="c_clear"></div>
					<!--S 绑定微信 -->
					<!-- <div class="c_rechange_password c_appear">
                            <div class="c_doing_new">
                                <img src="/static/img/icon/wx.jpg"/>
                                <p>扫二维码绑定云购账户</p>
                            </div>
                        </div> -->
					<!-- 微信绑定成功 -->
					<!-- <div class="c_rechange_password">
                            <div class="c_rechange_doing">
                                <span>微信绑定成功</span>
                                <a href="javascript:void(0);" class="c_rechange_a">确定</a>
                            </div>
                        </div>  -->
					<!--E 绑定微信 -->
					<!--S 解绑微信 -->
					<div class="c_rechange_password c_appear">
						<div class="c_phone_way">
							<div class="c_phone_verify">
								<div>
									<label>图形验证码：</label><input type="text"><span><img class="phone_yz" src="../../static/img/show/images/yz_img_03.png"/></span>
								</div>
								<div>
									<label>手机号：</label><em>139******58</em>
								</div>
								<div>
									<label>验证码：</label><input type="text"><i class="c_get_verify c_get_verify_other">短信获取验证码</i>
								</div>
								<a href="javascript:void(0);" class="c_success_rechange">下一步</a>
							</div>
						</div>
					</div>
					<!-- 微信解绑成功 -->
					<div class="c_rechange_password c_success">
						<div class="c_rechange_doing">
							<span class="c_new_success"><i class="iconfont icon-sure"></i>微信解绑成功</span>
							<a href="javascript:void(0);" class="c_rechange_a c_success_btn">确定</a>
						</div>
					</div>
					<!--E 解绑微信 -->
				</ul>
				<ul class="c_set_save_box">
					<li class="c_save_password">QQ协同登录：</li>
					<li class="c_save_tips">绑定QQ，免输密码快捷登录。</li>
					<li class="c_save_state"><i class="iconfont icon-close"></i>未绑定</li>
					<li class="c_save_num">--</li>
					<li class="c_save_rechange">
						<a href="javascript:void(0);">绑定</a>
					</li>
					<div class="c_clear"></div>
				</ul>
				<ul class="c_set_save_box">
					<li class="c_save_password">微博绑定：</li>
					<li class="c_save_tips">绑定微博，免输密码快捷登录。</li>
					<li class="c_save_state"><i class="iconfont icon-close"></i>未绑定</li>
					<li class="c_save_num">--</li>
					<li class="c_save_rechange">
						<a href="javascript:void(0);">绑定</a>
					</li>
					<div class="c_clear"></div>
				</ul>

			</div>
			<!--E 安全内容 -->
		</div>
		<!-- E 右侧 -->

		<script type="text/javascript" src="../../static/plugin/jquery.min.js"></script>
		<script type="text/javascript">
			//S 安全中心
			 save();//安全中心
			function save() {
				$(".c_save_rechange a").click(function() {
					var $ul = $(this).parents(".c_set_save_box").find('.c_appear');
					$(this).parents(".c_set_save_box").find('.c_appear').slideUp("fast");
					if($ul.is(':visible')) {
						$(this).parents(".c_set_save_box").find('.c_rechange_password').eq(0).siblings().removeClass("c_appear");
						$(this).parents(".c_set_save_box").find('.c_appear').slideUp("fast");
					} else {
						$(this).parents(".c_set_save_box").find('.c_rechange_password').eq(0).siblings().removeClass("c_appear");
						$('.c_appear').slideUp();
						$(this).parents(".c_set_save_box").find('.c_appear').slideDown("fast");

					}
				});

				//S 修改登录密码和修改手机号
				$(".c_success_rechange").click(function() {
					var index = $(this).index(".c_success_rechange");
					$(".c_appear").hide();
					$($(".c_success")[index]).addClass("c_appear").show();
				});
				$(".c_forget_password").click(function() {
					$(".c_appear").hide();
					$(".c_find_password").addClass("c_appear").show();
				});
				$(".c_success_btn").click(function() {
					$(".c_appear").hide();
					$(this).parents(".c_set_save_box").find('.c_rechange_password').eq(0).siblings().removeClass("c_appear");
				});
				
				$(".c_add_next").click(function() {
					var index = $(this).index(".c_add_next");
					$(".c_appear").hide();
					$($(".c_phone_newway_two")[index]).addClass("c_appear").show();
				});
				$(".c_next_steps").click(function() {
					var index = $(this).index(".c_next_steps");
					$(".c_appear").hide();
					$($(".c_phone_newway_success")[index]).addClass("c_appear").show();
				});
				
				$(".c_emails_next_step1").click(function() {
					var index = $(this).index(".c_emails_next_step1");
					$(".c_appear").hide();
					$($(".c_email_newway_two")[index]).addClass("c_appear").show();
				})
				$(".c_emails_next_step2").click(function() {
					var index = $(this).index(".c_emails_next_step2");
					$(".c_appear").hide();
					$($(".c_email_newway_success")[index]).addClass("c_appear").show();
				})

				
			}
			
			//E 安全中心
		</script>
	</body>

</html>