@charset "utf-8";
@import url(comm.css);
.clear{clear:both;}
/*header*/
/*2015-7-14 start*/
body{position:relative;font-family:"Microsoft YaHei";font-size:14px;min-width:1200px;_width:expression(document.documentElement.clientWidth>1200?document.documentElement.clientWidth:1200 );}
.header_box{width:100%;background:#fff;height:103px;border-bottom:5px solid #9d1774;}
.w_second_bg{background:#232323;width:100%;height:44px;display:none;position: relative;top:0px;left:0px;z-index:99;}
.header{width:1200px;margin:0px auto;height:100%;}
.header li{float:left;height:100%;line-height: 103px;margin-right:15px;font-size:13px;color:#555555;}
.header .logo{height:80px;margin-right:340px;width:433px;padding:12px 0px 11px;}
.header .logo img{width:433px;height:80px;float:left;margin-right:10px;}
.header li a{display: block;width:80px;height:40px;border:1px solid #ddd;border-radius:4px;line-height: 40px;text-align: center;font-size:14px;color:#555555;margin-top:31px;}
.header li i{font-size:13px;color:#dfdfdf;font-style:normal;margin:0px 5px;}
/*2015-7-14 end*/
/*footer*/
.footer{width:100%;}
.footer_content_box{background:url(../images/index/footer_bg_02.png) no-repeat center 0;width:100%;height:307px;}
.footer_content{width:1200px;margin:0px auto;overflow:hidden;padding-top:44px;padding-bottom:40px;}
.w_footer_outone,.w_footer_outtwo,.w_weixin{float: left;}
.w_footer_outone{
	margin:0px 100px 0px 40px;
}
.w_footer_outtwo{
	margin:0px 60px 0px 40px;
}
.w_footer_one{width:370px;height:120px;margin-bottom:14px;}
.w_footer_one li{font-size:14px;color:#999999;line-height: 24px;}
.w_footer_one .w_special{font-size:16px;color:#ddd;line-height:36px;}
.w_footer_two{width:370px;overflow: hidden;margin:20px 0px 49px;}
.w_footer_two li{width:54px;height:54px;float: left;background: #1f1f21;margin-right:16px;margin-bottom:10px;border-radius:50%;}
.w_footer_two li a{display:block;width:100%;padding-top:50px;text-align: center;color:#adadad;font-size:12px;}
.img_one{background:url(../images/index/bis_03.png) no-repeat  center 14px;}
.img_two{background:url(../images/index/icons_18.png) no-repeat center 16px;}
.img_three{background:url(../images/index/icons_10.png) no-repeat  center 16px;}
.w_footer_two li:hover{background:#9d1874;}
.w_footer_two li:hover a{color:#fff;}
.w_footer_two li:hover .img_one{background:url(../images/index/bi_03.png) no-repeat  center 14px;}
.w_footer_two li:hover .img_two{background:url(../images/index/icons_17.png) no-repeat center 16px;}
.w_footer_two li:hover .img_three{background:url(../images/index/icons_09.png) no-repeat  center 16px;}

.w_weixin{width:166px;}
.w_weixin img{width:141px;height:141px;padding:10px;background:#fff;}
.w_weixin p{font-size:14px;color:#999;text-align: center;line-height:30px;}

.w_friendship_box{background: #212121;}
.w_friendship{padding:20px 0px;border-top:1px solid #282828;border-bottom:1px solid #282828;width:100%;}
.w_friendship_con{width:1200px;margin:0px auto;position: relative;}
.w_friendship_con li{float:left;line-height:30px;margin:0px 12px;}
.w_friendship_con li a{font-size:12px;color:#999;}
.w_friendship_con li a:hover{color:#fff;}
.w_more{background:url(../images/index/more_03.png) no-repeat left center;display:block;width:20px;height:30px;position:absolute;right:10px;top:2px;cursor: pointer;}
.w_more_other{background:url(../images/index/more_02.png) no-repeat left center;display:block;width:20px;height:30px;position:absolute;right:10px;top:2px;cursor: pointer;display:none;}
.w_hidden_a{display:none;}

.w_copyright{width:1200px;margin:0px auto;position: relative;height:50px;}
.w_copyright p{width:100%;height:1px;background: #b8b8b8;/*2015-8-17 start*/margin-top:36px;/*2015-8-17 end*/}
.w_copyright .w_line{width:500px;margin:0px;font-size:12px;color:#666666;text-align: center;line-height:60px;background:#fff;position: absolute; top:-30px;left:350px;z-index: 2;height:60px;}
/*2015-8-17 start*/
.footer4{width:1200px;margin:30px auto 0;height:40px;}
.footer4_con{width:375px;margin:0px auto;overflow: hidden;}
.footer4 a{display:block;height:40px;text-align: center;float:left;margin:0px 4px;}
.footer4 .w_a_imgone{background:url(../images/index/ff1.png) no-repeat center center;width:94px;}
.footer4 .w_a_imgtwo{background:url(../images/index/ff2.png) no-repeat center center;width:35px;}
.footer4 .w_a_imgthree{background:url(../images/index/ff3.png) no-repeat center center;width:109px;}
.footer4 .w_a_imgfour{background:url(../images/index/ff4.png) no-repeat center center;width:105px;}
.footer4 .w_a_imgone:hover{background:url(../images/index/f1.png) no-repeat center center;width:94px;}
.footer4 .w_a_imgtwo:hover{background:url(../images/index/f2.png) no-repeat center center;width:35px;}
.footer4 .w_a_imgthree:hover{background:url(../images/index/f3.png) no-repeat center center;width:109px;}
.footer4 .w_a_imgfour:hover{background:url(../images/index/f4.png) no-repeat center center;width:105px;}
/*2015-8-17 end*/


/*S 2016-2-4*/
.header_tell{
	width:100%;
	height:46px;
	border-bottom: 1px solid #eaeaea;
}
.new_header{height:100%;width:1200px;margin:0px auto;}
.header_left{float: left;}
.header_left span{font-size:16px;color:#555555;display: inline-block;line-height:46px;}
.header_left span b{font-size:12px;color:#555555;font-weight: normal;}
.header_left i{font-size:12px;color:#555555;display: inline-block;line-height: 46px;font-style: normal;margin-left:15px;}
.header_right{float: right;margin-right:40px;}
.header_right li{width:32px;height:46px;float: left;margin:0px 8px;cursor: pointer;position:relative;}
.header_rihgt_one{background: url(../images/index/inicon2.png) no-repeat center center;}
.header_rihgt_two{background: url(../images/index/inicon1.png) no-repeat center center;}
.header_right li p{width:186px;height:186px;border-radius:4px;box-shadow: 0px 0px 4px #ddd;background: #fff;position: absolute;top:60px;left:-75px;border:1px solid #dbdbdb;text-align: center;z-index: 9999;display: none;}
.header_right li p img{width:155px;height:155px;margin-top:15px;}
.header_right li p i{display: block;width:25px;height:14px;background: url(../images/index/top.png) no-repeat center center;position: absolute;top:-14px;left:80px;}
.header_right .header_rihgt_text{width:60px;font-size:14px;color:#9d1874;line-height: 46px;display: block;float: left;}
/*E 2016-2-4*/